services:
  xen-x11:
    build:
      context: ./
      dockerfile: Dockerfile.x11
      args:
        - IMAGE_BASE=${IMAGE_BASE}
        - INSTALL_BROWSER_BRAVE
        - INSTALL_BROWSER_CHROMIUM
    image: xen/x11

  xen-sys:
    build:
      context: ./
      dockerfile: Dockerfile.sys
    image: xen/sys

  xen-dev:
    build:
      context: ./
      args:
        - IMAGE_BASE
        - INSTALL_BROWSER_BRAVE
        - INSTALL_BROWSER_CHROMIUM
        - INSTALL_CIRCOM
        - INSTALL_CYPRESS_DEPS
        - INSTALL_DEVOPS
        - INSTALL_DOCS
        - INSTALL_LLVM
        - INSTALL_NEOVIM_FROM_PPA_STABLE
        - INSTALL_NEOVIM_FROM_PPA_UNSTABLE
        - INSTALL_NEOVIM_FROM_SRC
        - INSTALL_NIX
        - INSTALL_NOIR
        - INSTALL_OPENCODE
        - INSTALL_PB
        - INSTALL_PLATFORMIO
        - INSTALL_TAURI
        - INSTALL_TOMB
        - OPTIONS_NVIM_APPNAME
        - OPTIONS_OHMYOPENCODE
        - OPTIONS_THEME
        - VERSION_FISH
        - VERSION_KPCLI
        - VERSION_LLVM
        - VERSION_NEOVIM_FROM_SRC
        - VERSION_NODE
        - VERSION_TOMB
    image: xen/dev
